[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=240s -o PreferredAuthentications=publickey -o
pipelining = True
# This is important because we are using one of the hosts in the play as a jump host
# This ensures that if the proxy connection is interrupted, rendering the other hosts
# unreachable, the connection is retried instead of failing the entire play
retries = 10