---
- name: Regenerate initramfs
  become: true
  block:
    - name: Regenerate initramfs (Debian/Ubuntu)
      ansible.builtin.command: update-initramfs -u
      when: ansible_facts['os_family'] == "Debian"
      changed_when: true
      listen: Regenerate initramfs

    - name: Regenerate initramfs (RedHat)
      ansible.builtin.command: dracut -f
      when: ansible_facts['os_family'] == "RedHat"
      changed_when: true
      listen: Regenerate initramfs
