---

- name: Add SSH capabilities
  ansible.windows.win_shell: >-
    Add-WindowsCapability -Online -Name OpenSSH.{{ item }}~~~~0.0.1.0
  loop:
    # - Client
    - Server
  become: yes
  become_method: runas
  become_user: "{{ ansible_user }}"

- name: Start and enable SSHD service
  ansible.windows.win_service:
    name: sshd
    state: started
    start_mode: auto

- name: Add firewall for SSH port
  community.windows.win_firewall_rule:
    name: OpenSSH-Server-In-TCP
    localport: 22
    action: allow
    direction: in
    protocol: tcp
    state: present
    enabled: yes

- name: Disable additional group check for admins
  community.windows.win_lineinfile:
    path: C:\ProgramData\ssh\sshd_config
    state: absent
    regex: "{{ item }}"
  loop:
    - "^Match Group"
    - "administrators_authorized_keys"

- name: Disable password-based SSH auth
  community.windows.win_lineinfile:
    path: C:\ProgramData\ssh\sshd_config
    line: "PasswordAuthentication no"
