---

- name: Update apt cache
  apt:
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Ensure up-to-date CA certificates
  package:
    name: ca-certificates
    state: latest

# Required for become to an unprivileged user to work
# Using the apt module seems to work more reliably than package :-/
- name: Install ACL package
  apt:
    update_cache: yes
    name: acl
    state: present
  when: ansible_os_family == "Debian"

- include_role:
    name: stackhpc.linux-ansible-init

- include_role: 
    name: linux-podman
    tasks_from: install.yml

- include_role:
    name: linux-data-volumes
  vars:
    data_volumes:
      - metadata_var: zenith_volume_id
        mountpoint: /etc/zenith/ssh
        opts: "defaults,nofail"
        owner: podman
        group: podman
      - metadata_var: data_volume_id
        mountpoint: /data
        opts: "defaults,nofail"
        owner: podman
        group: podman

- include_tasks: repo2docker.yml

- include_role:
    name: linux-monitoring
  vars:
    prometheus_data_directory: /data/prometheus/database

- include_role:
    name: linux-zenith-client
  vars:
    zenith_client_name: repo2docker-zenith-client
    zenith_client_pod: repo2docker
    zenith_client_wants: [repo2docker-notebook-server]
    zenith_forward_to_port: 8888
    zenith_registrar_token_metadata_key: zenith_registrar_token_repo2docker
    zenith_client_playbook_priority: "51"

- name: Run cloud-init cleanup
  command: cloud-init clean --logs --seed
