---

- hosts: localhost
  gather_facts: true
  become: true
  vars_files:
    - /etc/ansible-init/vars/{{ zenith_client_name }}.yml
{% raw %}
  vars:
    os_metadata: "{{ lookup('url', 'http://169.254.169.254/openstack/latest/meta_data.json') | from_json }}"
    os_user_metadata: "{{ os_metadata.get('meta', {}) }}"
  tasks:
    # We end the play rather than failing if the required metadata is not available
    # From the outside, this has the same effect as failing, i.e. the service never comes up
    # However subsequent playbooks are able to proceed, meaning Zenith services can be optional
    - name: End play if required metadata items are not available
      meta: end_play
      when: >-
        "zenith_registrar_url" not in os_user_metadata or
        "zenith_sshd_host" not in os_user_metadata or
        "zenith_sshd_port" not in os_user_metadata or
        zenith_registrar_token_metadata_key not in os_user_metadata

    - name: Ensure Zenith SSH mount has the correct permissions
      file:
        path: "/etc/zenith/ssh/"
        state: directory
        owner: "podman"
        group: "podman"
        mode: '0755'

    - name: Set Zenith facts
      set_fact:
        zenith_client_registrar_url: "{{ os_user_metadata.zenith_registrar_url }}"
        zenith_client_registrar_token: "{{ os_user_metadata[zenith_registrar_token_metadata_key] }}"
        zenith_client_registrar_verify_ssl: false
        zenith_client_sshd_host: "{{ os_user_metadata.zenith_sshd_host }}"
        zenith_client_sshd_port: "{{ os_user_metadata.zenith_sshd_port }}"

    - name: Ensure Zenith SSH directory exists
      file:
        path: /etc/zenith/ssh/{{ zenith_client_name }}
        state: directory
        owner: podman
        group: podman

    - name: Write the Zenith client configuration
      copy:
        content: |
          ssh_identity_path: /home/zenith/.ssh/id_zenith

          # Init options
          registrar_url: {{ zenith_client_registrar_url }}
          token: {{ zenith_client_registrar_token }}
          verify_ssl: {{ 'yes' if zenith_client_registrar_verify_ssl else 'no' }}

          # Connect options
          server_address: {{ zenith_client_sshd_host }}
          server_port: {{ zenith_client_sshd_port }}
          forward_to_host: {{ ansible_default_ipv4.address if zenith_forward_to_host == 'HOST_IP' else zenith_forward_to_host }}
          forward_to_port: {{ zenith_forward_to_port }}

          {% if zenith_client_config_extra -%}
          {{ zenith_client_config_extra | to_nice_yaml }}
          {%- endif %}
        dest: /etc/zenith/{{ zenith_client_name }}/client.yaml

    # The podman_container module doesn't re-run the container every time
    - name: Initialise Zenith client
      command: >-
        /usr/bin/podman run
          --cgroups=no-conmon
          --replace
          --restart=no
          --name {{ zenith_client_name }}-init
          --volume /etc/zenith/{{ zenith_client_name }}:/etc/zenith:ro
          --volume /etc/zenith/ssh/{{ zenith_client_name }}:/home/zenith/.ssh
          {{ zenith_client_image }}
          zenith-client init
      register: zenith_client_init
      changed_when: zenith_client_init.rc == 0
      failed_when:
        - zenith_client_init.rc != 0
        - '"token has already been used" not in zenith_client_init.stderr'
      become: yes
      become_user: podman

    - name: Enable Zenith client service
      service:
        name: "{{ zenith_client_name }}"
        state: started
        enabled: yes
{% endraw %}
