---
- name: "Create users"
  hosts: localhost
  gather_facts: true
  vars:
    openstack_metadata: >-
      {{
        (
          lookup(
            'url',
            'http://169.254.169.254/openstack/latest/meta_data.json'
            )| from_json).get(
              'meta', {}
              )
        }}
    openstack_userdata: >-
      {{
        (
          lookup(
            'url',
            'http://169.254.169.254/openstack/latest/user_data',
            split_lines=false
            ) | from_yaml
          )
        }}
  vars_files:
    - /etc/ansible-init/vars/user.yml
  tasks:
    - name: Get Azimuth user metadata
      ansible.builtin.set_fact:
        azimuth_uid: "{{ openstack_metadata['azimuth_uid'] | default('1005') }}"
        azimuth_gid: "{{ openstack_metadata['azimuth_gid'] | default('1005') }}"
        azimuth_is_sudo: >-
          {{
            (
              openstack_metadata['azimuth_is_sudo'] | default('yes')
              ) == 'yes'
            }}
        azimuth_ssh_keys: >-
          {{
            openstack_userdata.azimuth_users[0].ssh_authorized_keys
            | default([])
            }}

    - name: Ensure the Azimuth group is created
      ansible.builtin.group:
        name: "azimuth"
        gid: "{{ azimuth_gid }}"
      become: true

    - name: Ensure the Azimuth user is created
      ansible.builtin.user:
        name: "azimuth"
        group: "azimuth"
        uid: "{{ azimuth_uid }}"
        shell: "/bin/bash"
        create_home: false
      become: true

    - name: Setup Azimuth home directory
      ansible.builtin.file:
        path: "{{ user_mountpoint }}/azimuth-home"
        state: directory
        owner: "azimuth"
        group: "azimuth"
        mode: "0750"
      become: true

    - name: Setup bind mount for Azimuth home directory
      ansible.posix.mount:
        src: "{{ user_mountpoint }}/azimuth-home"
        path: "/home/azimuth"
        opts: bind
        fstype: none
        state: mounted
      become: true

    - name: Setup public keys for the Azimuth user
      ansible.posix.authorized_key:
        user: "azimuth"
        state: present
        key: "{{ item }}"
      with_items: "{{ azimuth_ssh_keys }}"

    - name: Configure sudoers for Azimuth user
      when: azimuth_is_sudo
      block:
        - name: Add the Azimuth user to sudoers
          ansible.builtin.user:
            name: "azimuth"
            groups: sudo

        - name: Make sudo without password for users
          ansible.builtin.copy:
            dest: /etc/sudoers.d/80-ansible-sudo-user
            content: "azimuth ALL=(ALL) NOPASSWD:ALL"
            mode: "0440"

    - name: Setup MOTD for user
      ansible.builtin.blockinfile:
        path: /etc/motd
        create: true
        marker: ""
        owner: root
        group: root
        mode: "0644"
        # yamllint disable rule:line-length
        block: |
          Note that this user storage (/home/azimuth) is ephemeral, but is persistent through
          platform patches. All system level changes outside of the home directory will be lost
          on a platform patch.

          When configured by the Azimuth operator and supported by the platform, an additional
          filesystem is mounted at /project. This filesystem persists after the platform is deleted
          and is shared with other platforms in the tenancy.
        # yamllint enable rule:line-length
      become: true
