<!DOCTYPE html>
<html>
    <head>
        <!-- Redirect to the main VNC page automatically -->
        <meta http-equiv="refresh" content="0; url='{{ novnc_redirect_url }}'" />
    </head>
    <body>
        <p>
            If you are not automatically redirected to your web console,
            please follow <a href="{{ novnc_redirect_url }}">this link</a>.
        </p>
    </body>
</html>
