<service>
  <id>ZenithClient</id>
  <name>Zenith Client</name>
  <description>Runs the Zenith client for the noVNC web interface.</description>
  <executable>zenith-client</executable>
  <arguments>connect --config "C:\ProgramData\Zenith\client.yaml"</arguments>
  <onfailure action="restart" />
  <log mode="roll"></log>
</service>
