---
# ACL Required for become to an unprivileged user to work
# Ensure up-to-date CA certificates
# Use linux-generic to track linux-modules-extra (IB)
- name: Install common packages
  apt:
    update_cache: true
    pkg:
    - acl
    - ca-certificates
      #- linux-generic
    state: latest

# Enables the ansible-init system, but does not install any default playbooks
- include_role:
    name: azimuth_cloud.image_utils.linux_ansible_init

# Enables volumes to be referred to by tag for setting up mounts in cloud-config
- include_role:
    name: linux-volumes-by-tag

- include_tasks: intel-pvc.yml
  when: enable_pvc

# Install the Broadcom network driver for NetXtreme-E Ethernet
- include_role:
    name: linux-broadcom

- name: Load relevant kernel modules
  template:
    src: modules.conf.j2
    dest: /etc/modules-load.d/modules.conf

# The cloud-init netplan renderer is default for ubuntu
# but does not support InfiniBand devices
- name: Switch cloud-init to alternative network renderer
  lineinfile:
    path: /etc/cloud/cloud.cfg
    regexp: "^    renderers:.*"
    line: "    renderers: ['networkd', 'network-manager']"
    state: present

- name: Switch cloud-init to alternative network activator
  lineinfile:
    path: /etc/cloud/cloud.cfg
    regexp: "^    activators:.*"
    line: "    activators: ['networkd', 'eni', 'network-manager']"
    state: present

- name: Clean up after ourselves
  ansible.builtin.apt:
    clean: yes
