---
# Include the variables for the OS distribution we are running on
# Note that we don't use first_found across the whole list of files because
# we want to include all the ones that apply, in the order in which they are
# defined, however we do use first_found to handle the case where the file
# doesn't exist at all.
- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ vars_file }}"
  vars:
    vars_file: "{{ lookup('first_found', lookup_params) }}"
    lookup_params:
      files:
        - "{{ item }}"
      skip: true
  when: vars_file | length > 0
  loop:
    - "{{ role_path }}/vars/{{ ansible_os_family }}.yml"
    - "{{ role_path }}/vars/{{ ansible_distribution }}.yml"
    # yamllint disable-line rule:line-length
    - "{{ role_path }}/vars/{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"

- name: Add apptainer repository
  ansible.builtin.apt_repository:
    repo: "ppa:apptainer/ppa"
    update_cache: true

- name: Install apptainer
  ansible.builtin.apt:
    name: apptainer
    state: present

- name: Configure data volumes
  ansible.builtin.include_role:
    name: linux-data-volumes
  vars:
    data_volumes:
      - metadata_var: zenith_volume_id
        mountpoint: /etc/zenith/ssh
        opts: "defaults,nofail"
      - metadata_var: data_volume_id
        mountpoint: /data
        opts: "defaults,nofail"

- name: Configure Azimuth user
  ansible.builtin.include_role:
    name: linux-user

- name: Configure Desktop
  when: desktop_enabled | bool
  block:
    - name: Configure Desktop
      ansible.builtin.include_tasks: desktop.yml

    - name: Configure VNC server
      ansible.builtin.include_tasks: vnc_server.yml

- name: Configure Podman
  ansible.builtin.include_role:
    name: linux-podman
    tasks_from: install.yml

- name: Configure Zenith SSH
  ansible.builtin.include_role:
    name: linux-zenith-ssh

- name: Configure Manila mounts
  ansible.builtin.include_role:
    name: stackhpc.os-manila-mount
    tasks_from: install.yml
  vars:
    # default debian-reef repo URL currently broken
    os_manila_mount_ceph_version: "18.2.4"

- name: Configure EESSI
  ansible.builtin.include_role:
    name: linux-eessi

- name: Configure Guacamole
  ansible.builtin.include_role:
    name: linux-guacamole

- name: Write Guacamole ansible-init vars file
  ansible.builtin.copy:
    content: "{{ guacamole_init_vars | to_nice_yaml }}"
    dest: /etc/ansible-init/vars/guacamole.yml
    owner: root
    group: root
    mode: "0644"
  vars:
    guacamole_init_vars:
      desktop_enabled: "{{ desktop_enabled }}"
      guacamole_user: "{{ guacamole_user }}"
      podman_service_user: "{{ podman_service_user }}"

- name: Install Guacamole ansible-init playbook
  ansible.builtin.copy:
    src: guacamole-playbook.yml
    # Execute between data volumes and zenith client
    dest: /etc/ansible-init/playbooks/50-guacamole.yml
    owner: root
    group: root
    mode: "0644"

- name: Configure monitoring services
  ansible.builtin.include_role:
    name: linux-monitoring
  vars:
    prometheus_data_directory: /data/prometheus/database

- name: Configure Zenith client
  ansible.builtin.include_role:
    name: linux-zenith-client
  vars:
    zenith_client_name: guacamole-zenith-client
    zenith_client_pod: guacamole
    zenith_client_needs:
      - guacamole-mitm
    zenith_forward_to_port: 8081
    zenith_registrar_token_metadata_key: zenith_registrar_token_webconsole
    zenith_client_playbook_priority: "51"

- name: Run cloud-init cleanup
  ansible.builtin.command: cloud-init clean --logs --seed
  changed_when: true
