---
grafana_container_image_prefix: "docker.io"

grafana_version: "12.0.2"

grafana_container_image_name: "grafana/grafana-oss"

# yamllint disable-line rule:line-length
grafana_container_image: "{{ grafana_container_image_prefix }}/{{ grafana_container_image_name }}:{{ grafana_version }}"

grafana_dashboards:
  - name: node-exporter
    dashboard_id: 1860
    revision_id: 27
    datasource: Prometheus
    home: true

prometheus_container_image_prefix: "docker.io"

prometheus_version: "v3.3.0"

prometheus_container_image_name: "prom/prometheus"

# yamllint disable-line rule:line-length
prometheus_container_image: "{{ prometheus_container_image_prefix }}/{{ prometheus_container_image_name }}:{{ prometheus_version }}"

podman_service_user: "podman"
