name: Build images for PR
on:
  pull_request:
    types:
      - opened
      - synchronize
      - ready_for_review
      - reopened
    branches:
      - main

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  # This job exists so that PRs from outside the main repo are rejected
  fail_on_remote:
    runs-on: ubuntu-latest
    steps:
      - name: PR must be from a branch in the azimuth-images repo
        run: exit ${{ github.repository == 'stackhpc/azimuth-images' && '0' || '1' }}

  # This job exists so that draft PRs see the check as failed
  fail_on_draft:
    runs-on: ubuntu-latest
    steps:
      - name: PR must be marked as ready for review before tests will run
        run: exit ${{ github.event.pull_request.draft && '1' || '0' }}

  build_images:
    needs: [fail_on_remote, fail_on_draft]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      # Each job consumes a FIP, so limit the number that can run concurrently
      max-parallel: 1
      # We only build images whose dependencies have changed
      matrix:
        include:
          - name: ubuntu-desktop
            template: linux-desktop
            var-files: common,kvm,linux,ubuntu
            path-filters: |
              paths:
                - .github/workflows/pr.yml
                - bin/*
                - config.pkr.hcl
                - requirements.yml
                - env/*/common.env
                - env/*/kvm.env
                - env/*/linux.env
                - env/*/ubuntu.env
                - vars/*/common.json
                - vars/*/kvm.json
                - vars/*/linux.json
                - vars/*/ubuntu.json
                - packer/linux-desktop.pkr.hcl
                - ansible/linux-webconsole.yml
                - ansible/roles/linux-webconsole/**
                - ansible/roles/linux-ansible-init/**
                - ansible/roles/linux-podman/**
                - ansible/roles/linux-data-volumes/**
                - ansible/roles/linux-guacamole/**
                - ansible/roles/linux-monitoring/**
                - ansible/roles/linux-zenith-client/**
          # - name: ubuntu-rdp-gateway
          #   template: linux-rdp-gateway
          #   var-files: common,kvm,linux,ubuntu
          #   path-filters: |
          #     paths:
          #       - .github/workflows/pr.yml
          #       - bin/*
          #       - config.pkr.hcl
          #       - requirements.yml
          #       - env/*/common.env
          #       - env/*/kvm.env
          #       - env/*/linux.env
          #       - env/*/ubuntu.env
          #       - vars/*/common.json
          #       - vars/*/kvm.json
          #       - vars/*/linux.json
          #       - vars/*/ubuntu.json
          #       - packer/linux-rdp-gateway.pkr.hcl
          #       - ansible/linux-rdp-gateway.yml
          #       - ansible/roles/linux-rdp-gateway/**
          #       - ansible/roles/linux-ansible-init/**
          #       - ansible/roles/linux-podman/**
          #       - ansible/roles/linux-data-volumes/**
          #       - ansible/roles/linux-guacamole/**
          #       - ansible/roles/linux-zenith-client/**
          # - name: jupyter-repo2docker
          #   template: jupyter-repo2docker
          #   var-files: common,kvm,linux,ubuntu
          #   path-filters: |
          #     paths:
          #       - .github/workflows/pr.yml
          #       - bin/*
          #       - config.pkr.hcl
          #       - requirements.yml
          #       - env/*/common.env
          #       - env/*/kvm.env
          #       - env/*/linux.env
          #       - env/*/ubuntu.env
          #       - vars/*/common.json
          #       - vars/*/kvm.json
          #       - vars/*/linux.json
          #       - vars/*/ubuntu.json
          #       - packer/jupyter-repo2docker.pkr.hcl
          #       - ansible/jupyter-repo2docker.yml
          #       - ansible/roles/jupyter-repo2docker/**
          #       - ansible/roles/linux-ansible-init/**
          #       - ansible/roles/linux-podman/**
          #       - ansible/roles/linux-data-volumes/**
          #       - ansible/roles/linux-monitoring/**
          #       - ansible/roles/linux-zenith-client/**
          # - name: kubernetes-1-25
          #   template: kubernetes
          #   var-files: common,kvm,linux,ubuntu,kubernetes,kubernetes_1_25
          #   path-filters: |
          #     paths:
          #       - .github/workflows/pr.yml
          #       - bin/*
          #       - config.pkr.hcl
          #       - requirements.yml
          #       - env/*/common.env
          #       - env/*/kvm.env
          #       - env/*/linux.env
          #       - env/*/ubuntu.env
          #       - env/*/kubernetes.env
          #       - env/*/kubernetes_1_25.env
          #       - vars/*/common.json
          #       - vars/*/kvm.json
          #       - vars/*/linux.json
          #       - vars/*/ubuntu.json
          #       - vars/*/kubernetes.json
          #       - vars/*/kubernetes_1_25.json
          #       - packer/kubernetes.pkr.hcl
          #       - vendor/image-builder/**
          # - name: kubernetes-1-26
          #   template: kubernetes
          #   var-files: common,kvm,linux,ubuntu,kubernetes,kubernetes_1_26
          #   path-filters: |
          #     paths:
          #       - .github/workflows/pr.yml
          #       - bin/*
          #       - config.pkr.hcl
          #       - requirements.yml
          #       - env/*/common.env
          #       - env/*/kvm.env
          #       - env/*/linux.env
          #       - env/*/ubuntu.env
          #       - env/*/kubernetes.env
          #       - env/*/kubernetes_1_26.env
          #       - vars/*/common.json
          #       - vars/*/kvm.json
          #       - vars/*/linux.json
          #       - vars/*/ubuntu.json
          #       - vars/*/kubernetes.json
          #       - vars/*/kubernetes_1_26.json
          #       - packer/kubernetes.pkr.hcl
          #       - vendor/image-builder/**
          # - name: kubernetes-1-27
          #   template: kubernetes
          #   var-files: common,kvm,linux,ubuntu,kubernetes,kubernetes_1_27
          #   path-filters: |
          #     paths:
          #       - .github/workflows/pr.yml
          #       - bin/*
          #       - config.pkr.hcl
          #       - requirements.yml
          #       - env/*/common.env
          #       - env/*/kvm.env
          #       - env/*/linux.env
          #       - env/*/ubuntu.env
          #       - env/*/kubernetes.env
          #       - env/*/kubernetes_1_27.env
          #       - vars/*/common.json
          #       - vars/*/kvm.json
          #       - vars/*/linux.json
          #       - vars/*/ubuntu.json
          #       - vars/*/kubernetes.json
          #       - vars/*/kubernetes_1_27.json
          #       - packer/kubernetes.pkr.hcl
          #       - vendor/image-builder/**
    name: ${{ matrix.name }}
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Check if image should be built
        uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: ${{ matrix.path-filters }}

      - name: Write OpenStack credentials
        run: echo "$CLOUDS_YAML_B64" | base64 -d > ./clouds.yaml
        env:
          CLOUDS_YAML_B64: ${{ secrets.CLOUDS_YAML_B64 }}
        if: ${{ steps.changes.outputs.paths == 'true' }}

      - name: Set up Packer environment
        run: ./bin/setup
        if: ${{ steps.changes.outputs.paths == 'true' }}

      - name: Build image
        id: build-image
        run: exec ./bin/build-image
        env:
          OS_CLOUD: openstack
          PACKER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ENVIRONMENT: arcus
          PACKER_TEMPLATE: ${{ matrix.template }}
          ENV_VAR_FILES: ${{ matrix.var-files }}
        if: ${{ steps.changes.outputs.paths == 'true' }}

      - name: Delete image in OpenStack
        run: openstack image delete ${{ steps.build-image.outputs.image-id }}
        env:
          OS_CLOUD: openstack
        if: ${{ steps.changes.outputs.paths == 'true' }}
