name: Build and test PR

on:
  pull_request:
    types:
      - opened
      - synchronize
      - ready_for_review
      - reopened
    branches:
      - main

jobs:
  # This job exists so that PRs from outside the main repo are rejected
  fail_on_remote:
    runs-on: ubuntu-latest
    steps:
      - name: PR must be from a branch in the RSE-Cambridge/azimuth-images repo
        run: exit ${{ github.repository == 'RSE-Cambridge/azimuth-images' && '0' || '1' }}

  # Build, publish and test the images
  build_test_images:
    needs: [fail_on_remote]
    # Don't build draft PRs
    if: ${{ !github.event.pull_request.draft }}
    uses: ./.github/workflows/build_test_images.yaml
    secrets: inherit

  # Purge the manifest and images that we just tested from S3
  purge_images:
    needs: [build_test_images]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install s3cmd
        run: |
          sudo apt-get update -y
          sudo apt-get install -y s3cmd

      - name: Purge tested images from S3
        run: ./bin/purge-manifest "${GITHUB_SHA}.manifest"
        env:
          S3_HOST: ${{ vars.S3_HOST }}
          S3_BUCKET: ${{ vars.S3_BUCKET }}
          S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY }}
          S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}
