name: Purge defunct images
on:
  # Allow manual executions
  workflow_dispatch:
  # Run nightly
  schedule:
    - cron: "0 6 * * *"

jobs:
  purge_defunct_images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install script dependencies
        run: pip install -r ./requirements.txt

      - name: Run script to purge defunct images
        run: ./bin/purge-defunct
        env:
          S3_HOST: ${{ vars.S3_HOST }}
          S3_BUCKET: ${{ vars.S3_BUCKET }}
          S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY }}
          S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}
